Library/
Logs/
obj/
.idea/
Temp/FSTimeGet-042604e99bbe85542845244ff8880fd7
Temp/FSTimeGet-105c104715100fd44b70ce5c26ac236a
Temp/FSTimeGet-a96fca22dc17b1b4fbdf5be6ecad615a
Temp/UnityLockfile
Temp/workerlic
Temp/Burst/burst-aot47fji3nf.i2w/lib_burst_generated_part_89425a97f3f500fa810ad03f0c382542.gbc
Temp/Burst/burst-aot47fji3nf.i2w/lib_burst_generated_part_89425a97f3f500fa810ad03f0c382542.obj
Temp/Burst/burst-aot47fji3nf.i2w/lib_burst_generated_part_da352d92cabf024fc9986011d52a4537.gbc
Temp/Burst/burst-aot47fji3nf.i2w/lib_burst_generated_part_da352d92cabf024fc9986011d52a4537.obj
Temp/Burst/burst-aotde7ysqtf.t7t/lib_burst_generated_part_77fc393cb521ac129b1392d4eb94d29a.gbc
Temp/Burst/burst-aotde7ysqtf.t7t/lib_burst_generated_part_77fc393cb521ac129b1392d4eb94d29a.obj
Temp/Burst/burst-aotde7ysqtf.t7t/lib_burst_generated_part_adceb2156d08d59afc9749dc2521fd2b.gbc
Temp/Burst/burst-aotde7ysqtf.t7t/lib_burst_generated_part_adceb2156d08d59afc9749dc2521fd2b.obj
Temp/Burst/burst-aote67d2oj7.gog/lib_burst_generated_part_2230a143748f5ecbc3a89a75bf0ad747.gbc
Temp/Burst/burst-aote67d2oj7.gog/lib_burst_generated_part_2230a143748f5ecbc3a89a75bf0ad747.obj
Temp/Burst/burst-aote67d2oj7.gog/lib_burst_generated_part_670478f3fb3f285eeace534fbe61a03e.gbc
Temp/Burst/burst-aote67d2oj7.gog/lib_burst_generated_part_670478f3fb3f285eeace534fbe61a03e.obj
Temp/Burst/burst-aote67d2oj7.gog/lib_burst_generated_part_aa309157da5950aa53ed6075709e6e40.gbc
Temp/Burst/burst-aote67d2oj7.gog/lib_burst_generated_part_aa309157da5950aa53ed6075709e6e40.obj
Temp/Burst/burst-aote67d2oj7.gog/lib_burst_generated_part_fbc079948c97a98cd097eb9cc996cc4a.gbc
Temp/Burst/burst-aote67d2oj7.gog/lib_burst_generated_part_fbc079948c97a98cd097eb9cc996cc4a.obj
Temp/Burst/burst-aotq1u7iemn.poi/lib_burst_generated_part_c5da162bb9dc9272f53313b169c04eaa.gbc
Temp/Burst/burst-aotq1u7iemn.poi/lib_burst_generated_part_c5da162bb9dc9272f53313b169c04eaa.obj
Temp/Burst/burst-aotq1u7iemn.poi/lib_burst_generated_part_d636e4baec7f7eb1d42a504f9a31611a.gbc
Temp/Burst/burst-aotq1u7iemn.poi/lib_burst_generated_part_d636e4baec7f7eb1d42a504f9a31611a.obj
Temp/Burst/burst-aotsu6nae4k.j87/lib_burst_generated_part_a6f5259e22ed809ef3937424c4bd686d.gbc
Temp/Burst/burst-aotsu6nae4k.j87/lib_burst_generated_part_a6f5259e22ed809ef3937424c4bd686d.obj
UserSettings/EditorUserSettings.asset
UserSettings/Search.settings
UserSettings/
Assets/StreamingAssets/build_info
/Temp
